<h1>Edit Feed fetch data</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.feed_fetch_data_path(@conn, :update, @feed_fetch_data)) %>

<span><%= link "Back", to: Routes.feed_fetch_data_path(@conn, :index) %></span>
