<section>
  Quick Links:
  <ul>
    <li><%= link "Feeds", to: Routes.feed_path(@conn, :index) %></li>
    <li><%= link "Feed Fetches", to: Routes.feed_fetch_path(@conn, :index) %></li>
  </ul>
</section>
