<section>
  Quick Links:
  <ul class="list-disc">
    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
    <% end %>
    <li><%= link "Feeds", to: Routes.feed_path(@conn, :index) %></li>
    <li><%= link "Feed Fetches", to: Routes.feed_fetch_path(@conn, :index) %></li>
  </ul>
</section>
