<h1>Edit Feed fetch</h1>

<%= render "form.html", Map.merge(assigns, %{action: Routes.feed_fetch_path(@conn, :update, @feed_fetch), type: :update}) %>

<span><%= link "Back", to: Routes.feed_fetch_path(@conn, :index) %></span>
