<h1>Show Feed fetch</h1>

<ul>

  <li>
    <strong>Data:</strong>
    <%= @feed_fetch.data %>
  </li>

  <li>
    <strong>Sha256:</strong>
    <%= @feed_fetch.sha256 %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.feed_fetch_path(@conn, :edit, @feed_fetch) %></span> |
<span><%= link "Back", to: Routes.feed_fetch_path(@conn, :index) %></span>
