<h1 class="title">Show Raw Fetch Data</h1>

<div class="block">
  <ul>
    <li>
      <strong>Hash:</strong>
      <%= @raw_fetch_data.hash %>
    </li>
    <li>
      <strong>Data:</strong>
      <%= @raw_fetch_data.data %>
    </li>
  </ul>
</div>

<div class="block buttons is-grouped">
  <%= BulmaForm.button_link "Edit", Routes.raw_fetch_data_path(@conn, :edit, @raw_fetch_data) %>
  <%= BulmaForm.button_link "Back", Routes.raw_fetch_data_path(@conn, :index) %>
</div>
