<h1>Show Raw fetch data</h1>

<ul>

  <li>
    <strong>Hash:</strong>
    <%= @raw_fetch_data.hash %>
  </li>

  <li>
    <strong>Data:</strong>
    <%= @raw_fetch_data.data %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.raw_fetch_data_path(@conn, :edit, @raw_fetch_data) %></span> |
<span><%= link "Back", to: Routes.raw_fetch_data_path(@conn, :index) %></span>
